/* body {
  height: 100vh
} */

.content-container {
  min-height: calc(100vh - 73px);
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.strokeme {
    text-shadow:-1px 1px 0 #000,
				 1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}