/* 100% Height -> Must include root and App */
html, body, #root, .App {
  height:100vh
}

.footer--pin {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.strokeme {
    text-shadow:-1px 1px 0 #000,
				 1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}